### List Comprehension

In [2]:
dt = ['20-01-2021','21-01-2021','23-01-2021']
print(dt)

['20-01-2021', '21-01-2021', '23-01-2021']

In [4]:
days =[]
for x in dt:
    days.append(x.split('-')[0])

print(days)

['20', '21', '23']

In [8]:
days = [x.split('-')[0] for x in dt]

In [9]:
days

['20', '21', '23']

In [12]:
days = [int(x.split('-')[0]) for x in dt if int(x.split('-')[0]) > 20]
days

[21, 23]

In [13]:
## Select the words with initial capital letter
words = ['How', 'aRe','yoU','Ready','FOR','liST','Comprehension']  ## Input
#wordswithiniticap = ['How', 'Ready','FOR','Comprehension']  ## Expected Output 

wordswithinitcap = [word for word in words if word[0].isupper()]

print(wordswithinitcap)

['How', 'Ready', 'FOR', 'Comprehension']

In [14]:
l1 = range(5)
l1_square = [num ** 2 for num in l1]
l1_square

[0, 1, 4, 9, 16]

In [15]:
l2 = range(10)
print(list(l2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
l2_even = [num for num in l2 if num % 2 == 0]
l2_even

[0, 2, 4, 6, 8]

In [17]:
d1 = {'a':1,'b':2,'c':3}  ## Dictionary Comprehension
d2_swap = {v:k for k, v in d1.items()}
d2_swap

{1: 'a', 2: 'b', 3: 'c'}

In [18]:
l1 = [50,3, 70,8,90, 1,24]
sorted(l1)

[1, 3, 8, 24, 50, 70, 90]

In [19]:
## Return the list of products whose length is more than 9 characters
products = ['Apparels','Crockeries','Beverages','Drinks','Cosmetics']

output = [product for product in products if len(product) > 9]
output

['Crockeries']

In [3]:
sen = '''This is my list comprehension example with multiple sentences. 
This is second sentence.
This is third sentence'''

for line in sen.split('\n'):
    for word in line.split():
        print(word)

This
is
my
list
comprehension
example
with
multiple
sentences.
This
is
second
sentence.
This
is
third
sentence

In [6]:
[word for line in sen.split('\n') for word in line.split() if len(word) > 5 if word[0] == 's']

['sentences.', 'second', 'sentence.', 'sentence']

### Lambda functions

In [20]:
## find the greater number
def greater(n1, n2):
    
    if (n1 > n2):
        return n1
    else:
        return n2
#    return n1 if n1 > n2 else n2

In [21]:
greater_no = greater(23, 12)
print(greater_no)

23

In [22]:
greater = lambda n1, n2: n1 if n1 > n2 else n2

In [23]:
greater(23, 12)

23

In [24]:
l1 = list(range(5))
print(l1)

[0, 1, 2, 3, 4]

In [27]:
def square_area(side):
    return side * side

square_of_list = list(lambda x: x * x, l1)
print(square_of_list)

TypeError: list expected at most 1 argument, got 2

In [47]:
import pandas as pd
nos = pd.Series( list(range(1, 20)))
nos

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
dtype: int64

In [40]:
## Print only the numbers are divisible by 2
list(filter(lambda x : x % 2 == 0, nos))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
nos[list(map(lambda x: (x % 2 == 0), nos))]

1      2
3      4
5      6
7      8
9     10
11    12
13    14
15    16
17    18
dtype: int64

In [34]:
from functools import reduce
reduce(lambda a, b: a + b, nos)

190

In [40]:
from itertools import accumulate
print(nos)
list(accumulate(nos, lambda a,b: (a + b)/2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

[1,
 1.5,
 2.25,
 3.125,
 4.0625,
 5.03125,
 6.015625,
 7.0078125,
 8.00390625,
 9.001953125,
 10.0009765625,
 11.00048828125,
 12.000244140625,
 13.0001220703125,
 14.00006103515625,
 15.000030517578125,
 16.000015258789062,
 17.00000762939453,
 18.000003814697266]

In [44]:
cum_avg = []
prev_no = 0
for idx in range(len(nos)):
    if idx == 0:
        cum_avg.append(nos[idx])
        prev_no = nos[idx]
    else:
        cum_avg.append((prev_no + nos[idx])/2)
        prev_no = (prev_no + nos[idx])/2
    
print(cum_avg)

[1, 1.5, 2.25, 3.125, 4.0625, 5.03125, 6.015625, 7.0078125, 8.00390625, 9.001953125, 10.0009765625, 11.00048828125, 12.000244140625, 13.0001220703125, 14.00006103515625, 15.000030517578125, 16.000015258789062, 17.00000762939453, 18.000003814697266]

In [45]:
## Factorial of a number
reduce(lambda a, b: a * b, range(1, 6))

120

In [47]:
def sumnos(n1, n2, n3):
    return n1 + n2 + n3

sumnos(1,2, 3)

6

In [55]:
def sumnos(*no):  ## * operator in a function,  will accept any number of argumuments
    sum = 0;
    for n in no:
        sum += n
    return sum

In [56]:
sumnos(1, 2, 3, 4, 5)

15

In [57]:
sumnos(10, 15, 2)

27

In [58]:
sumnos(10, 15)

25

In [73]:
def add_nos(n1, n2, *n3):
    print(type(n3))
    print('N1: ', n1)
    print('N2: ', n2)
    sum = n1 + n2
    for num in n3:
        sum += num
    return sum

In [74]:
print(add_nos(10, 20))

<class 'tuple'>
N1:  10
N2:  20
30

In [66]:
print(add_nos(10, 20, 30,40))

N1:  10
N2:  20
100

In [65]:
print(add_nos(n2 = 10, n1=30))

N1:  30
N2:  10
40

In [71]:
def somefun(**param):
    print(type(param))
    print(param)
    for k, v in param.items():
        print('Key: ', k)
        print('Value: ',v)

In [72]:
somefun(name='Shan',age=56, salary=10000)

<class 'dict'>
{'name': 'Shan', 'age': 56, 'salary': 10000}
Key:  name
Value:  Shan
Key:  age
Value:  56
Key:  salary
Value:  10000

In [75]:
somefun(name='Shan',age=56)

<class 'dict'>
{'name': 'Shan', 'age': 56}
Key:  name
Value:  Shan
Key:  age
Value:  56

#### Scope of functions

In [78]:
a = 10  ##  Global variable
def afunction(x):
    a = 5  ## Local variable
    print(x + a)

In [79]:
afunction(10)

15

In [80]:
## Example of lazy evaluation
b = 10
def afunction(x):
    print(x + a)
    print(x + b)
    print(x + y)

In [81]:
afunction(10)

20
20

NameError: name 'y' is not defined

In [34]:
def duprem(l):
    return set(l)

In [35]:
from functools import reduce
l1 = [[2, 2, 3, 4, 5, 5, 6, 8, 9],[10,2,3,5,6],[10,12,13,4]]
reduce(set.union,map(duprem, l1))

{2, 3, 4, 5, 6, 8, 9, 10, 12, 13}

In [31]:
x = duprem([2, 2, 3, 4, 5, 5, 6, 8, 9])
x

[2, 3, 4, 5, 6, 8, 9]

In [36]:
l1 = [10,12,13,4]
from itertools import accumulate
res = accumulate(l1, lambda x, y: (x + y)/2)
for ele in res:
    print(ele)

10
11.0
12.0
8.0