### Python Collection Objects

#### Strings

In [1]:
str1 = "Shanmugam"
print(type(str1))

<class 'str'>

In [2]:
## Length of a string.  The len is a built-in function, common for all collection objects
print(len(str1))

9

In [3]:
print(str1[0])

S

In [4]:
for ltr in str1:
    print(ltr)

S
h
a
n
m
u
g
a
m

In [7]:
for idx in range(len(str1)):
    print("Index : ", idx, ' Character: ',str1[idx])

Index :  0  Character:  S
Index :  1  Character:  h
Index :  2  Character:  a
Index :  3  Character:  n
Index :  4  Character:  m
Index :  5  Character:  u
Index :  6  Character:  g
Index :  7  Character:  a
Index :  8  Character:  m

In [8]:
## Slicing
str1[0:4]  ## Explicitly giving the starting position

'Shan'

In [14]:
str1[:5]  ## By default, it will start from the index 0

'Shanm'

In [15]:
str1[4:]  ## By default, it will print from 4th index position to end of the string

'mugam'

In [17]:
str1[4:6]  ## Subsetting the string from 4th position till 5th index position

'mu'

In [13]:
print(str1)
str1[0:len(str1):3]

Shanmugam

'Sng'

In [18]:
## Reversing the string
str1[::-1]

'magumnahS'

In [19]:
## Reversing the string
str1[6::-1]

'gumnahS'

In [22]:
str1.isalpha()

True

In [23]:
str2 = 'Shan2'
str2.isalpha()

False

#### String Methods

In [24]:
print(str1)

Shanmugam

In [26]:
str2 = str1.upper()  ## To convert string into upper case
print(str2)

SHANMUGAM

In [29]:
print(str1.lower()) ## To convert string into lower case

shanmugam

In [27]:

print(str2.title())  ## Converting string into a title case

Shanmugam

In [28]:
str3 = "I LOVE PYTHON"
print(str3.title()) ## Converting string into a title case

I Love Python

In [30]:
str3.replace("PYTHON","BIG DATA")

'I LOVE BIG DATA'

In [31]:
str3.replace("O",'o')

'I LoVE PYTHoN'

In [38]:
date = '21','Jan','2022','10','hrs'
date  ## I want to print the date 21-Jan-2022

('21', 'Jan', '2022', '10', 'hrs')

In [39]:
## Join method will help to join the words with given string
'-'.join(date)

'21-Jan-2022-10-hrs'

In [41]:
' marries '.join(('Anand','Anu'))

'Anand marries Anu'

In [42]:
str4 = "\n  \t  45 \t "
print(str4)

  	  45

In [43]:
str4.strip()  ## Strip method by default will remove all leading and trailing whitespace characters and print the string

'45'

In [45]:
str4 = "~~~Shanmugam~~~~Thiagarajan~~~~~~"
print(str4.strip('~'))  ## Strip method will also accept a parameter of any character to be removed from the given string.

Shanmugam~~~~Thiagarajan

In [50]:
str4.strip('~').replace('~','').replace("T"," T")  ## Chaining of methods.

'Shanmugam Thiagarajan'

In [54]:
str5 = '12345'
str5.isdigit()  # To check whether the given string has only numerical characters.

True

In [56]:
print(str1)
str1.endswith('gam')

Shanmugam

True

In [58]:
str1.startswith('Sh')

True

In [61]:
str1.encode('big5')

b'Shanmugam'

In [62]:
str1 = "Shanmugam Thiagarajan"
firstname, lastname = str1.split()

In [64]:
print(firstname)
print(lastname)

Shanmugam
Thiagarajan

In [65]:
str1.split()

['Shanmugam', 'Thiagarajan']

In [69]:
sen = "I love using cars for long driving"
print("Number of words in the given sentence is {}".format(len(sen.split())))

Number of words in the given sentence is 7

In [70]:
sen.split()

['I', 'love', 'using', 'cars', 'for', 'long', 'driving']

In [77]:
prdt = 'Apple'
qty = 10
price = 100.2545
print("The Price of the product {0:} is {1:.1f} and the total price is {2:.2f}".format(prdt, price,qty * price))

The Price of the product Apple is 100.3 and the total price is 1002.54

In [78]:
print("The Price of the product",prdt,"is",price,"and the total price is ",round(qty * price,2))

The Price of the product Apple is 100.2545 and the total price is  1002.54

## Lists

Lists are hetrogeneous collection of elements.  A list also contain another list.

In [79]:
l1 = [10,20,30,40,50]  ## It is a homogeneous collection of elements
type(l1)

list

In [80]:
len(l1)

5

In [81]:
max(l1)

50

In [82]:
min(l1)

10

In [120]:
l2 = [10,20,30,40,50,'Shan','Anand']
print(l2)

[10, 20, 30, 40, 50, 'Shan', 'Anand']

In [84]:
len(l2)

7

In [85]:
l2[5]

'Shan'

In [86]:
type(l2[5])

str

In [87]:
l2[5].upper()

'SHAN'

In [92]:
l2[5].replace('Sh','An')

'Anan'

In [121]:
print(l2)

[10, 20, 30, 40, 50, 'Shan', 'Anand']

In [93]:
for ele in l2:
    print(ele)

10
20
30
40
50
Shan
Anand

In [94]:
for idx in range(len(l2)):
    print(l2[idx])

10
20
30
40
50
Shan
Anand

In [95]:
## Appending two lists
print(l1)
print(l2)
l3 = l1 + l2
print(l3)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Shan', 'Anand']
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 'Shan', 'Anand']

In [96]:
l1.append(60)  ## Using append() we can add an element to an existing list
print(l1)

[10, 20, 30, 40, 50, 60]

In [98]:
## Suppose I  want to add 2 elements together?
l1.extend([60,70])  ## Using extend method, we can multiple elements to a list.
print(l1)

[10, 20, 30, 40, 50, 60, 60, 70]

In [104]:
print(l1.sort())
## Sorting the elements in a list
sorted_l1 = l1.sort()
print(sorted_l1)

None
None

In [106]:
l1

[10, 20, 30, 40, 50, 60, 60, 70]

In [111]:
l3 = l1.sort()  ## Sort method will sort the elements in a list.  The optional paramenter is reverse and it is default to False.
## You can use the reverse = True for reverse sorting.

In [109]:
print(l3)

None

In [110]:
sorted(l1)  ## Will return the sorted list

[10, 20, 30, 40, 50, 60, 60, 70]

In [113]:
print(l1.reverse())  ## To reverse a list

None

In [114]:
print(l1)

[10, 20, 30, 40, 50, 60, 60, 70]

In [115]:
l1.index(20)

1

In [116]:
## Insert method is used to insert an element between two elements in a list.  Usage is list.insert(Index of an element, element to be inserted)
l1.insert(l1.index(40),35)  ## Index method in a list will help to find the index of an element.
print(l1)

[10, 20, 30, 35, 40, 50, 60, 60, 70]

In [122]:
print("Before Clear:",l2)
l2.clear()
print("After Clear:",l2)

Before Clear: [10, 20, 30, 40, 50, 'Shan', 'Anand']
After Clear: []

In [126]:
l5 = [5, 4, 3]
l5.sort()  ## The sort method will sort and overwrite the same list in the sorted order.
print(l5)

[3, 4, 5]

In [127]:
l5 = [5, 4, 3]
print(sorted(l5))  ## Whereas the sorted(), will not overwrite the list
print(l5)

[3, 4, 5]
[5, 4, 3]

In [128]:
l5_sorted = sorted(l5)

In [129]:
print(l5_sorted)

[3, 4, 5]

In [130]:
## pop()
l5_sorted.pop() ## pop() will, by default, remove the last element in the list.
print(l5_sorted)

[3, 4]

In [132]:
l5_sorted.pop(l5_sorted.index(3))  ## To remove a particular element using pop, we have to provide the index of the element.
print(l5_sorted)

[4]

In [133]:
print(l1)

[10, 20, 30, 35, 40, 50, 60, 60, 70]

In [134]:
l1.remove(60)  ## remove() will remove the given element.
print(l1)

[10, 20, 30, 35, 40, 50, 60, 70]

In [135]:
## Slicing and indexing of a list

l1[:3]  ## Return the first 3 elements

[10, 20, 30]

In [136]:
l1[3:]  ## will return from 4th element to end of the list

[35, 40, 50, 60, 70]

In [137]:
l1[::-1]  ## Reversing the elements in the list

[70, 60, 50, 40, 35, 30, 20, 10]

In [138]:
l1.extend([50,60])
l1

[10, 20, 30, 35, 40, 50, 60, 70, 50, 60]

In [140]:
l1.count(50)

2

In [148]:
## Getting the duplicate elements from the given list
l1 = [10, 20, 30, 35, 40, 50, 60, 70, 50, 60]
dup_elements=[]  ## Declaring an empty list
for ele in l1:
    if l1.count(ele) > 1:
        dup_elements.append(ele)

print(dup_elements)
print(l1)

[50, 60, 50, 60]
[10, 20, 30, 35, 40, 50, 60, 70, 50, 60]

In [153]:
## Remove the duplicate elements from the given list
l1 = [10, 20, 30, 35, 40, 50, 60, 70, 50, 60, 60,50]
l1_copy = l1.copy()
for ele in l1_copy:
    print(ele, l1.index(ele))
    if l1.count(ele) > 1:
        l1.remove(ele)
        print(l1)
print(l1)

10 0
20 1
30 2
35 3
40 4
50 5
[10, 20, 30, 35, 40, 60, 70, 50, 60, 60, 50]
70 6
50 7
[10, 20, 30, 35, 40, 60, 70, 60, 60, 50]
60 5
[10, 20, 30, 35, 40, 70, 60, 60, 50]
[10, 20, 30, 35, 40, 70, 60, 60, 50]

In [154]:
l1

[10, 20, 30, 35, 40, 70, 60, 60, 50]

In [155]:
25 in l1  ## To check the existence of an element in a list

False

In [156]:
35 in l1

True

In [157]:
25 not in l1  ## To check the non-existence of an element in a list

True

In [158]:
35 not in l1

False

### Tuples

Tuples are immutable

In [159]:
t1 = (10, 20, 30)
type(t1)

tuple

In [160]:
t2 = 30, 40, 50
type(t2)

tuple

In [164]:
t3 = (10, 20, 30, [40, 50, 60])
t3

(10, 20, 30, [40, 50, 60])

In [165]:
type(t3)

tuple

In [166]:
len(t3)

4

In [167]:
t3[-1] ## Accessing the last element in a tuple

[40, 50, 60]

In [168]:
type(t3[-1])

list

In [169]:
t3[-1].append(90)

In [170]:
t3[-1]

[40, 50, 60, 90]

In [171]:
t3

(10, 20, 30, [40, 50, 60, 90])