## Data Frames and Data Manipulation

### Introduction of Data Frames

Data Frame is a two dimensional data structure where the data is arranged in a tabular format like excel in rows and columns.

In [1]:
## Importing Pandas Library
import pandas as pd
import numpy as np

In [2]:
## Creating a dataframe from a list
langs = ['Python','R','C','Julia','Java','Scala']

## Creating dataframe using pd.DataFrame]
#df_langs = pd.DataFrame(langs)

#df_langs = pd.DataFrame(langs)
df_langs = pd.DataFrame(langs, columns = ['ProgLang'])
## Printing dataframe df_langs
print(type(df_langs))
print(df_langs)

<class 'pandas.core.frame.DataFrame'>
  ProgLang
0   Python
1        R
2        C
3    Julia
4     Java
5    Scala

In [3]:
markslist = np.random.randint(300,500,10)
print(markslist)

df_marks = pd.DataFrame(markslist, columns=['Marks'])
print(df_marks)

[444 401 499 474 359 461 425 376 431 411]
   Marks
0    444
1    401
2    499
3    474
4    359
5    461
6    425
7    376
8    431
9    411

In [4]:
## Creating a dataframe from list of lists
store_sales=[['Apple',74000],['Samsung',89770],['Vivo',56700]]

## Creating a dataframe
df_phonesales = pd.DataFrame(store_sales, columns = ['Store','Sales'])

print(df_phonesales)
print(type(df_phonesales))

     Store  Sales
0    Apple  74000
1  Samsung  89770
2     Vivo  56700
<class 'pandas.core.frame.DataFrame'>

In [5]:
marksdict = {'name': ['Anand', 'Akshay', 'Arvind', 'Abinav'],
             'Marks': [435, 345, 389, 498]}

markslist = [['Anand',435], ['Akshay',345], ['Arvind',389], ['Abinav',498]]
print(marksdict)                    
df_marks = pd.DataFrame(markslist, columns=['StuName','StuMarks'])
print(df_marks)

{'name': ['Anand', 'Akshay', 'Arvind', 'Abinav'], 'Marks': [435, 345, 389, 498]}
  StuName  StuMarks
0   Anand       435
1  Akshay       345
2  Arvind       389
3  Abinav       498

In [6]:
## Creating a dataframe from a dictionary

prod_dict = {'Product':['Biscuits','Beverages','Snacks','Coffee','Tea','Milk'], 
             'Sales':[6500,7000,8500,9000,8900,10000]}
           
## Creating a dataframe from a dictionary
df_product = pd.DataFrame(prod_dict)

df_product

     Product  Sales
0   Biscuits   6500
1  Beverages   7000
2     Snacks   8500
3     Coffee   9000
4        Tea   8900
5       Milk  10000

In [7]:
## Creating a dataframe from a dictionary with index

prod_dict = {'Product':['Biscuits','Beverages','Snacks','Coffee','Tea','Milk'], 
             'Sales':[6500,7000,8500,9000,8900,10000]}
           
## Creating a dataframe
df_product = pd.DataFrame(prod_dict, index=['A','B','C','D','E','F'])

df_product

     Product  Sales
A   Biscuits   6500
B  Beverages   7000
C     Snacks   8500
D     Coffee   9000
E        Tea   8900
F       Milk  10000

In [8]:
df_product.iloc[[0,4],1]

A    6500
E    8900
Name: Sales, dtype: int64

In [9]:
df_product.iloc[[4,1],1]

E    8900
B    7000
Name: Sales, dtype: int64

In [10]:
df_product.loc[['A','D'],'Sales']

A    6500
D    9000
Name: Sales, dtype: int64

In [11]:
df_product.loc[['B','C'],'Sales']

B    7000
C    8500
Name: Sales, dtype: int64

In [12]:
## Creating a dataframe from a list dictionaries

br_sales = [{'Store-A':65000,'Store-B':70000,'Store-D':45750}, 
             {'Store-A':75000,'Store-B':45000,'Store-C':95000},
            {'Store-A':55000,'Store-C':65000}]
           
## Creating a dataframe
df_brsales = pd.DataFrame(br_sales)

df_brsales = df_brsales[['Store-A','Store-B','Store-C','Store-D']]
df_brsales

   Store-A  Store-B  Store-C  Store-D
0    65000  70000.0      NaN  45750.0
1    75000  45000.0  95000.0      NaN
2    55000      NaN  65000.0      NaN

In [13]:
## To select a single column from a dataframe
print(df_brsales['Store-B'])

## To select an individual Column from dataframe
print(df_brsales[['Store-A','Store-C']])

## Printing the type
print('\n',type(df_product['Product']))

0    70000.0
1    45000.0
2        NaN
Name: Store-B, dtype: float64
   Store-A  Store-C
0    65000      NaN
1    75000  95000.0
2    55000  65000.0

 <class 'pandas.core.series.Series'>

### Reading Data from various type of Files

Pandas has number of functions to read data from various kind of files, like, csv, text, excel, JSON, HTML, etc.  Even we can extract and load a file from a zip file.

In [14]:
## Reading from a CSV File
df_salescsv = pd.read_csv('F:/Python Learning/Imarticus/Datasets/Pandas/bigmarket.csv')
print(type(df_salescsv))

print(df_salescsv.head(7))
print(df_salescsv.tail(8))

<class 'pandas.core.frame.DataFrame'>
  Month Store  Sales
0   Jan     A  31037
1   Jan     B  20722
2   Jan     C  24557
3   Jan     D  34649
4   Jan     E  29795
5   Feb     A  29133
6   Feb     B  22695
   Month Store  Sales
17   Apr     C  47488
18   Apr     D  25432
19   Apr     E  33880
20   May     A  29487
21   May     B  40001
22   May     C  46482
23   May     D  46313
24   May     E  47594

In [15]:
## Reading from excel file
df_salesxlsx = pd.read_excel('datasets/pandas/bigmarket.xlsx')
df_salesxlsx

    Month Store  Sales
0     Jan     A  31037
1     Jan     B  20722
2     Jan     C  24557
3     Jan     D  34649
4     Jan     E  29795
5     Feb     A  29133
6     Feb     B  22695
7     Feb     C  28312
8     Feb     D  31454
9     Feb     E  46267
10  March     A  32961
11  March     B  26451
12  March     C  47814
13  March     D  36069
14  March     E  31874
15    Apr     A  27253
16    Apr     B  40241
17    Apr     C  47488
18    Apr     D  25432
19    Apr     E  33880
20    May     A  29487
21    May     B  40001
22    May     C  46482
23    May     D  46313
24    May     E  47594

In [16]:
import os
os.getcwd()


files = pd.ExcelFile('../Sample_Data/Attendance.xlsx')
df = files.parse()
print(type(files.parse(sheet_name=1)))
#print(df)
print(len(files.sheet_names))
df_list =[]
for shindex in range(len(files.sheet_names)):
    df_list.append(files.parse(sheet_name=shindex))
print(files.sheet_names)

<class 'pandas.core.frame.DataFrame'>
5
['BATCH 3 - ECE & EI (4)', 'BATCH 3 - 19th July', 'BATCH 3 - 20th July', 'BATCH 3 - 21st July', 'BATCH 3 - 23rd July']

In [17]:
df_list[0:2]

[   APPLN_NO CANDIDATE ID  BATCH              CANDIDATE_NAME      MOBILE  \
 0   TA-1919       C-5860      3              ANJALI   SINGH  7411913270
 1   TA-1918       C-5861      3       ANJALI  KRISHNA SINGH  7338239779
 2   TA-1986       C-5955      3                  ati   kant  9538167584
 3   TA-1916       C-5821      3                CHAITHRA   S  9538271916
 4   TA-1928       C-5837      3                 Chaitra   C  8892418216
 ..      ...          ...    ...                         ...         ...
 57  TA-1954       C-5921      3              Vaibhavi   H L  9448380718
 58  TA-1882       C-5862      3  Gayathri  Hudhugur Bhushan  9591505647
 59  TA-1874       C-5823      3   Aishwarya  Ravindra Patil  9513479281
 60  TA-1852       C-5805      2          Vishnu   Kulkarni   9611356743
 61  TA-1949       C-5799      2             Ankith R  Patil  8431355554

                                 EMAIL  \
 0       anjalisingh.jsr1706@gmail.com
 1        anjalisingh1111.ak@gmail.com
 2             atikantraj123@gmail.com
 3             chaithra.s164@gmail.com
 4   chaitrachandrashekar004@gmail.com
 ..                                ...
 57         vaibhaviprasad97@gmail.com
 58  Gayathrihudhugurbhushan@gmail.com
 59      aishwaryapatil61996@gmail.com
 60        vishnukulkarni627@gmail.com
 61      ankitrpatilankit007@gmail.com

                              GRAD SPECIALIZATION  2018-07-19 00:00:00  \
 0    Electronics and Communication Engineering                    NaN
 1    Electronics and Communication Engineering                    NaN
 2    Electronics and Communication Engineering                    NaN
 3    Electronics and Communication Engineering                    NaN
 4    Electronics and Communication Engineering                    NaN
 ..                                           ...                  ...
 57   Electronics and Instrumentation Engineering                  NaN
 58  Electronics and Instrumentation Engineering                   NaN
 59    Electronics and instrumentation technology                  NaN
 60                 electronic and communication                   NaN
 61                 Electronics & Instrumentation                  NaN

     2018-07-20 00:00:00  2018-07-21 00:00:00  2018-07-23 00:00:00  \
 0                   NaN                  NaN                  NaN
 1                   NaN                  NaN                  NaN
 2                   NaN                  NaN                  NaN
 3                   NaN                  NaN                  NaN
 4                   NaN                  NaN                  NaN
 ..                  ...                  ...                  ...
 57                  NaN                  NaN                  NaN
 58                  NaN                  NaN                  NaN
 59                  NaN                  NaN                  NaN
 60                  NaN                  NaN                  NaN
 61                  NaN                  NaN                  NaN

     2018-07-24 00:00:00  2018-07-25 00:00:00
 0                   NaN                  NaN
 1                   NaN                  NaN
 2                   NaN                  NaN
 3                   NaN                  NaN
 4                   NaN                  NaN
 ..                  ...                  ...
 57                  NaN                  NaN
 58                  NaN                  NaN
 59                  NaN                  NaN
 60                  NaN                  NaN
 61                  NaN                  NaN

 [62 rows x 13 columns],
    APPLN_NO CANDIDATE ID  BATCH               CANDIDATE_NAME      MOBILE  \
 0   TA-1919       C-5860      3               ANJALI   SINGH  7411913270
 1   TA-1918       C-5861      3        ANJALI  KRISHNA SINGH  7338239779
 2   TA-1910       C-5874      3                Ekta   kumari  8951250845
 3   TA-2991       C-5721      3                 Hemanath   V  9035358009
 4   TA-1985       C-5689      3          Jayanth   Kumar K H  8880505289
 5   TA-1996       C-5750      3                  Jayanth   M  8123331652
 6   TA-2005       C-5747      3                 Kavana   M A  7829456170
 7   TA-1944       C-5759      3             Kendole   Nikhil  9902848074
 8   TA-1988       C-5734      3                Md  Numan Ali  7795524450
 9   TA-2009       C-5779      3         Mohamed  Danish Khan  8050998190
 10  TA-1972       C-5697      3             Nischal  Simha S  9844561360
 11  TA-1935       C-5890      3            RACHANA  R SHETTY  9880917408
 12  TA-2018       C-5961      3                Rakshitha   N  8217345227
 13  TA-2060       C-6023      3  Ramkumar   Shrikant  Gurav   8549065626
 14  TA-1934       C-5897      3               ramya   shetty  9739463863
 15  TA-1921       C-5873      3                    REKHA   J  9945860998
 16  TA-3006       C-7157      3                  Sagar   S B  7022306282
 17  TA-1873       C-5727      3               Saurav   Kumar  9620925027
 18  TA-2040       C-5984      3       shekhar  pratap  singh  8105221303
 19  TA-1931       C-5868      3         SHIKHA  PRABHA GUPTA  8809256435
 20  TA-1830       C-5717      3           Shreegowri A Nagur  9108172408
 21  TA-1932       C-5881      3               sonali   singh  9008946815
 22  TA-1946       C-5792      3           SPOORTHI    THOTAD  8618808727
 23  TA-2025       C-5785      3               Sumanth   Naag  8892883828
 24  TA-1976       C-5692      3                  VARUN   K V  9663142145
 25  TA-2043       C-5981      3               VISHAL   KARUR  8792170783
 26  TA-1785       C-5704      3                 YAMINI   V S  9035455297
 27  TA-2020       C-5940      3       YASHWANTH   K  A Yashu  7899354199
 28  TA-1813       C-5710      3                   Kavya   Kv  9108643332
 29  TA-1845       C-5707      3                Kripa   Kiran  8971411966
 30  TA-1893       C-5813      3                 rakesh   s g  8884538997
 31  TA-1868       C-5817      3            Ravisham   Santha  7259954569
 32  TA-1892       C-5819      3                   yogesh   b  9036892027
 33  TA-1811       C-5761      3           Bhargavi  S Badami  9148588212
 34  TA-1871       C-5700      3                  Maithri   S  8970500810
 35  TA-1806       C-5703      3               Shree   Varsha  9164618240
 36  TA-1882       C-5862      3   Gayathri  Hudhugur Bhushan  9591505647
 37  TA-1874       C-5823      3    Aishwarya  Ravindra Patil  9513479281
 38  TA-1852       C-5805      2           Vishnu   Kulkarni   9611356743
 39  TA-1949       C-5799      2              Ankith R  Patil  8431355554

                                 EMAIL  \
 0       anjalisingh.jsr1706@gmail.com
 1        anjalisingh1111.ak@gmail.com
 2     ektakumari.1js15ec028@gmail.com
 3       hemanath.1js15ec126@gmail.com
 4            jayanthhkumarr@gmail.com
 5               jayanthjanu@gmail.com
 6                  kkavanaa@gmail.com
 7            nikhil.kendole@gmail.com
 8                  zeenuman@gmail.com
 9            profmaildanish@gmail.com
 10            nischalsimhas@gmail.com
 11            rracchushetty@gmail.com
 12       raksharakshithan95@gmail.com
 13      ramkumar.1js15ec071@gmail.com
 14           ramyashetty148@gmail.com
 15                 rekha97j@gmail.com
 16         sagar.1js15ec123@gmail.com
 17        kumarsaurav655655@gmail.com
 18       shekhar.1js15ec090@gmail.com
 19      shikha.anand11@rediffmail.com
 20       gowrinagur08031997@gmail.com
 21           sonalisingh772@gmail.com
 22         spoorthithotad19@gmail.com
 23             sumanthnaagk@gmail.com
 24            varunvkrishna@gmail.com
 25            vishalkarur12@gmail.com
 26        yamini.1js15ec121@gmail.com
 27            yashwanthka97@gmail.com
 28               kavyakv345@gmail.com
 29             mailkripa.18@gmail.com
 30               sgrakesh39@gmail.com
 31          santha.ravisham@gmail.com
 32                 yogs3397@gmail.com
 33          bhargavisbadami@gmail.com
 34              maithri.s97@gmail.com
 35            varsha.syrena@gmail.com
 36  Gayathrihudhugurbhushan@gmail.com
 37      aishwaryapatil61996@gmail.com
 38        vishnukulkarni627@gmail.com
 39      ankitrpatilankit007@gmail.com

                              GRAD SPECIALIZATION  2018-07-19 00:00:00  \
 0    Electronics and Communication Engineering                    NaN
 1    Electronics and Communication Engineering                    NaN
 2    Electronics and Communication Engineering                    NaN
 3    Electronics and Communication Engineering                    NaN
 4    Electronics and Communication Engineering                    NaN
 5    Electronics and Communication Engineering                    NaN
 6    Electronics and Communication Engineering                    NaN
 7    Electronics and Communication Engineering                    NaN
 8    Electronics and Communication Engineering                    NaN
 9    Electronics and Communication Engineering                    NaN
 10   Electronics and Communication Engineering                    NaN
 11   Electronics and Communication Engineering                    NaN
 12   Electronics and Communication Engineering                    NaN
 13   Electronics and Communication Engineering                    NaN
 14   Electronics and Communication Engineering                    NaN
 15   Electronics and Communication Engineering                    NaN
 16   Electronics and Communication Engineering                    NaN
 17   Electronics and Communication Engineering                    NaN
 18   Electronics and Communication Engineering                    NaN
 19   Electronics and Communication Engineering                    NaN
 20   Electronics and Communication Engineering                    NaN
 21   Electronics and Communication Engineering                    NaN
 22   Electronics and Communication Engineering                    NaN
 23   Electronics and Communication Engineering                    NaN
 24   Electronics and Communication Engineering                    NaN
 25   Electronics and Communication Engineering                    NaN
 26   Electronics and Communication Engineering                    NaN
 27   Electronics and Communication Engineering                    NaN
 28               Electronics and instrumentation                  NaN
 29               Electronics and instrumentation                  NaN
 30               ELECTRONICS and INSTRUMENTATION                  NaN
 31               Electronics and instrumentation                  NaN
 32               ELECTRONICS AND INSTRUMENTATION                  NaN
 33              Electronics and Instrumentation                   NaN
 34   Electronics and Instrumentation Engineering                  NaN
 35   Electronics and instrumentation engineering                  NaN
 36  Electronics and Instrumentation Engineering                   NaN
 37    Electronics and instrumentation technology                  NaN
 38                 electronic and communication                   NaN
 39                 Electronics & Instrumentation                  NaN

     2018-07-20 00:00:00  2018-07-21 00:00:00  2018-07-23 00:00:00  \
 0                   NaN                  NaN                  NaN
 1                   NaN                  NaN                  NaN
 2                   NaN                  NaN                  NaN
 3                   NaN                  NaN                  NaN
 4                   NaN                  NaN                  NaN
 5                   NaN                  NaN                  NaN
 6                   NaN                  NaN                  NaN
 7                   NaN                  NaN                  NaN
 8                   NaN                  NaN                  NaN
 9                   NaN                  NaN                  NaN
 10                  NaN                  NaN                  NaN
 11                  NaN                  NaN                  NaN
 12                  NaN                  NaN                  NaN
 13                  NaN                  NaN                  NaN
 14                  NaN                  NaN                  NaN
 15                  NaN                  NaN                  NaN
 16                  NaN                  NaN                  NaN
 17                  NaN                  NaN                  NaN
 18                  NaN                  NaN                  NaN
 19                  NaN                  NaN                  NaN
 20                  NaN                  NaN                  NaN
 21                  NaN                  NaN                  NaN
 22                  NaN                  NaN                  NaN
 23                  NaN                  NaN                  NaN
 24                  NaN                  NaN                  NaN
 25                  NaN                  NaN                  NaN
 26                  NaN                  NaN                  NaN
 27                  NaN                  NaN                  NaN
 28                  NaN                  NaN                  NaN
 29                  NaN                  NaN                  NaN
 30                  NaN                  NaN                  NaN
 31                  NaN                  NaN                  NaN
 32                  NaN                  NaN                  NaN
 33                  NaN                  NaN                  NaN
 34                  NaN                  NaN                  NaN
 35                  NaN                  NaN                  NaN
 36                  NaN                  NaN                  NaN
 37                  NaN                  NaN                  NaN
 38                  NaN                  NaN                  NaN
 39                  NaN                  NaN                  NaN

     2018-07-24 00:00:00  2018-07-25 00:00:00
 0                   NaN                  NaN
 1                   NaN                  NaN
 2                   NaN                  NaN
 3                   NaN                  NaN
 4                   NaN                  NaN
 5                   NaN                  NaN
 6                   NaN                  NaN
 7                   NaN                  NaN
 8                   NaN                  NaN
 9                   NaN                  NaN
 10                  NaN                  NaN
 11                  NaN                  NaN
 12                  NaN                  NaN
 13                  NaN                  NaN
 14                  NaN                  NaN
 15                  NaN                  NaN
 16                  NaN                  NaN
 17                  NaN                  NaN
 18                  NaN                  NaN
 19                  NaN                  NaN
 20                  NaN                  NaN
 21                  NaN                  NaN
 22                  NaN                  NaN
 23                  NaN                  NaN
 24                  NaN                  NaN
 25                  NaN                  NaN
 26                  NaN                  NaN
 27                  NaN                  NaN
 28                  NaN                  NaN
 29                  NaN                  NaN
 30                  NaN                  NaN
 31                  NaN                  NaN
 32                  NaN                  NaN
 33                  NaN                  NaN
 34                  NaN                  NaN
 35                  NaN                  NaN
 36                  NaN                  NaN
 37                  NaN                  NaN
 38                  NaN                  NaN
 39                  NaN                  NaN  ]

In [18]:
df = pd.read_excel('datasets/pandas/customer1.xlsx', sheet_name='Order')
print(df.columns)
df.columns = df.columns.str.upper()
print(df.columns)
print(df)

Index(['Order_ID', 'Cust_ID', 'Order'], dtype='object')
Index(['ORDER_ID', 'CUST_ID', 'ORDER'], dtype='object')
   ORDER_ID  CUST_ID  ORDER
0       222      101    789
1       223      102    465
2       224      103    674
3       225      104    564

In [19]:
## Reading multiple sheet in a single read
files = pd.ExcelFile('datasets/pandas/customer1.xlsx')
print(type(files))

print(files.parse(sheet_name='Cusotmer'))
files.sheet_names

<class 'pandas.io.excel._base.ExcelFile'>
   Cust_ID      Name
0      101    Olivia
1      102  Will LLC
2      103    Sophia
3      104  Isabella

['Cusotmer', 'Order']

In [20]:
df_list=[]
for shname in files.sheet_names:
    df_list.append(files.parse(sheet_name=shname))
    
for df in df_list:
    print(df.head())

   Cust_ID      Name
0      101    Olivia
1      102  Will LLC
2      103    Sophia
3      104  Isabella
   Order_ID  Cust_ID  Order
0       222      101    789
1       223      102    465
2       224      103    674
3       225      104    564

In [21]:
## Reading csv file from a zip file
import zipfile

In [22]:
with zipfile.ZipFile("datasets/pandas/bigmarket.zip") as Z:
    print(Z.namelist())
    with Z.open("Pandas/bigmarket.csv") as f:
        df_sales = pd.read_csv(f)
        print(df_sales.head())

#df_sales

['bigmarket.csv']

KeyError: "There is no item named 'Pandas/bigmarket.csv' in the archive"

In [ ]:
with zipfile.ZipFile("datasets/pandas.zip") as Z:
    for fname in Z.namelist():
        print(fname)
    with Z.open("Pandas/bigmarket.csv") as f:
        df_sales = pd.read_csv(f)
        print(df_sales.head())

In [ ]:
## Reading from a text (.txt) file
df_sales = pd.read_csv('datasets/pandas/bigmarket.txt',sep='\t')
df_sales

In [ ]:
## Reading data from JSON file
df_sales = pd.read_json('datasets/pandas/bigmarket.json')
df_sales.head()

In [ ]:
hr_data = pd.read_csv('../Sample_Data/HR_Employee_Attrition.csv')
print(hr_data.columns)
print(hr_data.shape)
print(hr_data.head())
print(hr_data.tail())
print(hr_data.dtypes)

In [ ]:
hr_data.info()

In [ ]:
df_titanic = pd.read_csv('../Sample_Data/titanic_data.csv')
print(df_titanic.info())
print(df_titanic.describe())
print(df_titanic.describe(include='object'))

In [ ]:
df_titanic.isnull().sum()

In [ ]:
with open('datasets/pandas/bigmarket.html','r') as f:
    df_sales = pd.read_html(f.read())

print(type(df_sales))
print(df_sales[:1])

### Understanding the data from dataframe

In [ ]:
## To print the top 5 rows
df_sales.head()

In [ ]:
## To print the bottom 5 rows
df_sales.tail()

In [ ]:
## Using n parameter in head and tail functions to print more rows
print(df_sales.head(n=10))

print(df_sales.tail(n=10))

In [ ]:
## To get the shape of dataframe
df_sales.shape

## It has 15 rows and 3 columns

In [ ]:
## To know the data type for each column
df_sales.dtypes

In [ ]:
## We can use info() to print all the above details.
df_sales.info()

In [ ]:
df_sales.describe()

**info()** will print, the shape, data type and null values if any, index values, etc

### Accessing Data Frames

Data frames are accessed using .iloc and .loc to subset the data.  iloc uses the index whereas loc uses the names.

In [ ]:
## Printing the dataframe
print(df_sales)

In [ ]:
##  Using row_index and column_index
##  .iloc[row_index, column_index]
df_sales.iloc[:5,:2]

In [ ]:
## Selecting the data using iloc
## Selecting 5 row onwards and all the columns
df_sales.iloc[0:5,0:2]

In [ ]:
## Retrieving the name of the store of first two rows
df_sales.iloc[[0,1],[1,2]]

In [ ]:
## Retrieving the name of the store of first row
df_sales.iloc[[0,1]][['Store','Sales']]

In [ ]:
## Retrieving 4th to 6th rows from the dataframe for all the columns
## If we don't provide column index, by default it will print all the columns
df_sales.iloc[3:6]

In [ ]:
## Selecting all the rows and first two columns
df_sales.iloc[:,:2]

In [ ]:
## Retrieving only Month and Sales Columns
df_sales.iloc[:,[0,2]]

### Accessing dataframe elements using .loc function

In [ ]:
## Displaying first five rows of df_sales
df_sales.head()

In [ ]:
## Retrieving second row Sales value
df_sales.loc[1]['Sales']

In [ ]:
## Retrieving first 3 row's Store and Sales values
## .loc uses column names and row names
## .loc[row_names, column_names]
df_sales.loc[[0,1,2],['Store','Sales']]

In [ ]:
## Retrieving subset of data using condition
df_sales[df_sales['Sales']>40000]

In [ ]:
df_sales['Sales']>40000

In [ ]:
## Retrieving sales between 40000 and 50000
df_sales_40k_50k=df_sales[(df_sales.Sales >= 40000) & (df_sales.Sales <= 50000)]

In [ ]:
df_sales_40k_50k

In [ ]:
## Retrieving sales > 40000
df_sales[((df_sales.Sales > 40000) | (df_sales.Month == 'Feb'))]['Store']

In [ ]:
## Filtering data with multiple conditions
df_sales[(df_sales.Month == 'Jan') & (df_sales.Sales > 30000)]

### Data frame Sorting

In [ ]:
## Sorting the data frame using sales value - Default Ascending Order
df_sales.sort_values(['Sales'])

In [ ]:
## For decending sorting, we have set ascending argument false
df_sales.sort_values('Sales', ascending = False)

In [ ]:
## Sorting with multiple columns
df_sales.sort_values(['Store','Sales'])

In [ ]:
## Sorting with multiple columns
df_sales.sort_values(['Sales','Store'], ascending=[False, True])

In [ ]:
## Subsetting the rows and sorting using index 
df_sales[df_sales.Sales > 40000].sort_index(ascending = False)

In [ ]:
df_titanic.columns

In [ ]:
df_titanic.Embarked.value_counts().sort_index()

In [ ]:
age = df_titanic['Age']
type(age)

### Ranking in Dataframe

In [ ]:
import numpy as np

In [ ]:
## Creating data frame using lists
namelist = ['John','James','Amy','Robin','Smith','Bob','Kevin']
verbal_score = [173, 149, 158, 158, 100, 158, 120] 
quant_score = [151, 154, 152,  92, 127, 116, 154]
qualify =['Yes','Yes','Yes','No','No','Yes','Yes']

datadict = {'name':namelist, 'Verbal_score':verbal_score, 'Quantitative_score':quant_score, 'Qualify':qualify}
datadict

In [ ]:
df_score = pd.DataFrame(datadict)
df_score

In [ ]:
df_score.Verbal_score.sort_values()

In [ ]:
## Ranking using method='min'
df_score['Verbal_Rank'] = df_score.Verbal_score.rank(method='min')
df_score

In [ ]:
df_score.Verbal_score.rank(method='max')

In [ ]:
## Ranking using method='max'
df_score['Verbal_Rank'] = df_score.Verbal_score.rank(method='max')
print(df_score)

In [ ]:
## Ranking using method='max'
df_score['Verbal_Rank'] = df_score.Verbal_score.rank(method='dense')
df_score

In [ ]:
## Ranking using default method which is average
df_score['Verbal_Rank'] = df_score.Verbal_score.rank()
df_score

In [ ]:
df_score['Quant_rank'] = np.NaN
df_score

In [ ]:
df_score['Quant_rank'] = df_score.Quantitative_score.rank(method='min')
df_score

### Dataframe Concatenation

In [ ]:
## Reading the required Data
df_sales1 = pd.read_excel('datasets/pandas/sales_transactions.xlsx',sheet_name=0)
print(df_sales1.shape)
print(df_sales1)

In [ ]:
## Reading the required Data
df_sales2 = pd.read_excel('datasets/pandas/sales_transactions.xlsx',sheet_name=1)
print(df_sales2.shape)
print(df_sales2)

In [ ]:
## Reading the required Data
df_sales3 = pd.read_excel('datasets/pandas/sales_transactions.xlsx',sheet_name=2)
print(df_sales3.shape)
print(df_sales3)

In [ ]:
## Concatenating both the dataframes
df_sales = pd.concat([df_sales1, df_sales2, df_sales3])
df_sales

In [ ]:
## Concatenating both the dataframes
df_sales = pd.concat([df_sales1, df_sales2, df_sales3], ignore_index = True)
df_sales

In [ ]:
## Using append
df_sales = df_sales1.append([df_sales2,df_sales3], ignore_index = True)
df_sales

In [ ]:
print(df_sales.head())

In [ ]:
df_sales.sort_values(['account', 'ext price'], ascending=[True, False])

In [ ]:
## Reading the required Data
df_order1 = pd.read_excel('datasets/pandas/order.xlsx',sheet_name=0)
df_order1 = df_order1.iloc[:,0:6]
df_order1

In [ ]:
## Reading the required Data
df_order2 = pd.read_excel('datasets/pandas/order.xlsx',sheet_name=1)
df_order2 = df_order2.iloc[:,0:3]
df_order2

In [ ]:
## Concatenate horizontally using axis = 1 parameter
df_order = pd.concat([df_order1, df_order2],axis=1)
print(df_order)
print(df_order.shape)

### Dataframe Joins

The default join is 'left'.  You can specify the join method by option parameter 'how'

In [ ]:
## Preparing the data to demonstrate various types of joins
df_cust1 = pd.read_excel('datasets/pandas/customer.xlsx',sheet_name=0)
df_cust1 = df_cust1.set_index('Cust_ID')
df_cust1

In [ ]:
## Preparing the data to demonstrate various types of joins
df_cust2 = pd.read_excel('datasets/pandas/customer.xlsx',sheet_name=1)
df_cust2 = df_cust2.set_index('Cust_ID')
df_cust2

#### Default join (left)

In [ ]:
## Retrieving Order details with customer info
df_left = df_cust1.join(df_cust2,lsuffix='_cust', rsuffix='_ord', on='Cust_ID')
df_left

#### Inner Join

In [ ]:
## Retrieving Order details with customer info
df_inner = df_cust1.join(df_cust2,lsuffix='_cust', rsuffix='_ord', on='Cust_ID', how = 'inner')
df_inner

In [ ]:
## Retrieving Order details with customer info
df_cust1.set_index('Cust_ID').join(df_cust2.set_index('Cust_ID'), on='Cust_ID', how='inner')

In [ ]:
## Since we already set the index from both df_cust1 and df_cust2, it uses those index.
##  Now we can specify the in understand the columns from each data frame with thier suffix
df_cust1.join(df_cust2, lsuffix='_cust', rsuffix='_ord')

### Dataframe Merge

Both ***joins and merge*** can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

In [ ]:
## Preparing the data to demonstrate various types of joins
df_cust = pd.read_excel('datasets/pandas/Ecommerce_data.xlsx',sheet_name='Cust_data')
df_cust

In [ ]:
## Preparing the data to demonstrate various types of joins
df_order = pd.read_excel('datasets/pandas/Ecommerce_data.xlsx',sheet_name='Ord_data')
df_order

In [ ]:
## Dataframe merge - Inner is Default method.
pd.merge(df_cust, df_order, on='Cust_ID')

In [ ]:
dfc = pd.read_excel('datasets/pandas/customer.xlsx',sheet_name=0)
dfo = pd.read_excel('datasets/pandas/customer.xlsx',sheet_name=1)
dfp = pd.read_excel('datasets/pandas/customer.xlsx',sheet_name=2)
print(dfc)
print(dfo)
print(dfp)

In [ ]:
## Merging 3 different dataframes on differnt columns 
pd.merge(dfc, dfo, left_on = 'Custid', right_on='Cust_ID').merge(dfp, on = 'Order_ID')

In [ ]:
## Setting the index for both dataframes
dfc = dfc.set_index('Custid')
print(dfc)

In [ ]:
dfo = dfo.set_index('Cust_ID')
dfo

In [ ]:
pd.merge(dfc, dfo, left_index = True, right_index = True)

In [ ]:
## Merging the dataframe on different name on key columns, must use left_on and right_on to map 
## the key columns
## Suppose if you want to join multiple columns, it should passed as list.
pd.merge(dfc, dfo, left_on='Custid', right_on='Cust_ID')

In [ ]:
pd.merge(dfc, dfo, left_on='Custid', right_on='Cust_ID', how='left')

In [ ]:
## Dataframe merge - Outer
pd.merge(df_cust, df_order, on='Cust_ID', how='outer')

In [ ]:
## Dataframe merge - Right
pd.merge(df_cust, df_order, on='Cust_ID', how='right')

In [ ]:
## Dataframe merge - left
pd.merge(df_cust, df_order, on='Cust_ID', how='left')

In [ ]:
df_order.set_index('Cust_ID')

In [ ]:
df_cust.set_index('Cust_ID')

In [ ]:
pd.merge(df_cust, df_order, left_index = True, right_index = True)
#pd.merge(df_cust, df_order)

In [ ]:
dfp = pd.read_excel()

### Reshaping Dataframes

In [ ]:
## Creating data frame using lists
namelist = ['John','James','Amy','Robin','Smith','Bob','Kevin']
salary = np.random.randint(20000,50000,7) 
age = np.random.randint(20,40,7) 
gender =['M','M','F','M','M','M','M']

datadict = {'name':namelist, 'salary':salary, 'gender':gender, 'age':age}
datadict

In [ ]:
df_employee=pd.DataFrame(datadict)
df_employee

In [ ]:
df_sales = pd.read_excel('datasets/pandas/sample_sales.xlsx')
print(df_sales)
print(df_sales.shape)

In [ ]:
df_melt_sales = df_sales.melt(id_vars=['StoreId','SoreName'],var_name='Month',value_name='SalesValue')
#df_melt_sales = df_sales.melt(id_vars=['StoreId'])
print(df_melt_sales.head(10))
print(df_melt_sales.tail(10))
print(df_melt_sales.shape)
print(df_melt_sales.SalesValue.mean())
print(df_melt_sales.sort_values(['StoreId']))

In [ ]:
df_melt_sales.columns = ['StoreId', 'StoreName', 'Month', 'SalesValue']

### Pivot_table

Pivot_table is used to aggregate the data based on some key columns

In [ ]:
## Aggregating data based on stores.
pd.pivot_table(df_melt_sales, index='StoreId',values='SalesValue',aggfunc=['min','max','sum','mean'])

In [ ]:
## Aggregating data by Month
pd.pivot_table(df_melt_sales, index='Month',values='SalesValue',aggfunc=['min','max','sum','mean'])

In [ ]:
## Wide to long using melt()
df_melt=df_employee.melt(id_vars=['name'])
df_melt

In [ ]:
## Wide to long using melt()
df_melt=df_employee.melt(id_vars=['gender'], value_vars=['name','age'])
df_melt

### Pivot Tables

In [ ]:
## Reading from a CSV File
df_sales = pd.read_csv('datasets/pandas/bigmarket.csv')

df_sales

In [ ]:
## Creating pivot table
pd.pivot_table(df_sales, index='Month', values='Sales')

By default, the aggregate function is average (mean)

In [ ]:
## Creating pivot table
pd.pivot_table(df_sales, index='Month', values='Sales', aggfunc=['sum','mean','min','max'])

### Cross Tables

In [ ]:
## Preparing the data to demonstrate various types of joins
df_cars = pd.read_excel('datasets/pandas/dictionary_data.xlsx',sheet_name='Car')
df_cars

In [ ]:
## Cross Table
pd.crosstab(df_cars.Car, df_cars.Color, rownames=['Car'],colnames=['Color'], values=df_cars.Sales,aggfunc=['sum','mean'])

### Dataframe Operations

In [ ]:
## Preparing the data to demonstrate various types of joins
df_ins = pd.read_csv('datasets/Dataframe Operations/insurance_data_with_dups.csv')
df_ins.head()

In [ ]:
df_ins.info()

In [ ]:
## Checking duplicates
dups = df_ins[df_ins.duplicated()]

In [ ]:
dups

In [ ]:
df_ins.duplicated().sum()

In [ ]:
len(df_ins.columns)

In [ ]:
## Checking duplicaes without patiend_id and dayofmonth columns
df_ins.drop(['patientid','dayofmonth'], axis='columns',inplace=True)
#df_ins.head()
print(df_ins.shape)

In [ ]:
print(df_ins.columns)

In [ ]:
## Selecting all duplicates except their first occurrance
df_ins_dups = df_ins[df_ins.duplicated(keep='first')]
print(df_ins_dups.head())
print(df_ins.shape)
print(df_ins_dups.shape)

In [ ]:
## Selecting all duplicates except their first occurrance with selected columns
df_ins_dups = df_ins[df_ins.duplicated(['age','gender','claim'],keep='first')]
print(df_ins_dups.head())
print(df_ins_dups.shape)

In [ ]:
## Dropping Duplicates
print(df_ins.shape)
df_ins_wodups = df_ins.drop_duplicates(keep='first')
print(df_ins_wodups.shape)

In [ ]:
df_ins.iloc[1340:1379]

### Dropping Rows and Columns from dataframe

The drop() is used to drop rows and columns from a dataframe. To drop rows, we have to use the dataframe row index.  To drop the columns we have use column names.

In [ ]:
## Preparing the data to demonstrate various types of joins
df_ins = pd.read_csv('datasets/Dataframe Operations/insurance_data_with_dups.csv')
df_ins.shape

In [ ]:
## To drop rows, we have to use the dataframe row index.  To drop the columns we have use column names.
print("Insurance Data Shape: ",df_ins.shape)
## Dropping firsts 4 rows
df_ins1 = df_ins.drop(index = range(4))
df_ins1.head()
print("After Removing first 4 rows :", df_ins1.shape)

In [ ]:
## Dropping Columns
df_ins1 = df_ins.drop(['patientid'], axis=1)
df_ins1.info()

In [ ]:
## Using inplace and dropping multiple columns
df_ins.drop(['patientid','dayofmonth'], axis=1,inplace=True)
print(df_ins.info())

### Replacing Values

In [ ]:
df_ins.shape

In [ ]:
df_ins.drop_duplicates(inplace=True)

In [ ]:
df_ins.shape

In [ ]:
df_ins.head(10)

In [ ]:
## Printing sample rows from df_ins
print(df_ins.head())

df_ins = df_ins.replace('northwest','North West')

print(df_ins.head())

In [ ]:
## To replace multiple values
df_ins = df_ins.replace(['northeast','southeast','southwest','northwest'],['North East','South East','South West','North West'])
df_ins.head(10)

In [ ]:
## To count number of records in each category
print(df_ins['region'].value_counts())
print(df_ins['gender'].value_counts())
print(df_ins['diabetic'].value_counts())

In [ ]:
## To replace a specific column
df_ins['smoker'] = df_ins['smoker'].replace(['Yes','No'],['Smoker','No Smoker'])
print(df_ins.head())
df_ins.smoker.value_counts()

In [ ]:
print(df_ins.columns)
#df_ins['high_bmi']
## Inserting a column on a specific position
df_ins.insert(3,'high_bmi',np.nan)
df_ins.columns

In [ ]:
df_ins.head()

In [ ]:
## Replace values using .loc 
df_ins.loc[df_ins['bmi'] > 32, 'high_bmi'] = 'Yes'
df_ins.loc[df_ins['bmi'] <= 32, 'high_bmi'] = 'No'
df_ins.head()

In [ ]:
## Let us first update the column value with np.nan
df_ins.high_bmi = np.nan
df_ins.head()

In [ ]:
## Replace values using np.where
df_ins['high_bmi'] = np.where((df_ins['bmi'] > 32),'Yes',df_ins['high_bmi'])
df_ins['high_bmi'] = np.where((df_ins['bmi'] <= 32),'No',df_ins['high_bmi'])
df_ins.head()

In [ ]:
## Let us first update the column value with np.nan
df_ins.high_bmi = np.nan
df_ins.head()

In [ ]:
## Replace values using .loc 
df_ins.loc[df_ins['bmi'] > 32, 'high_bmi'] = 'Yes'
# df_ins.loc[df_ins['bmi'] <= 32, 'high_bmi'] = 'No'
df_ins.head()

In [ ]:
## Using fillna function to replace the remaining NaN values with 'No'
df_ins['high_bmi'].fillna('No',inplace=True)
df_ins.head()

### Grouping Data from a dataframe

In [24]:
import os
os.getcwd()

'F:\\Python Learning\\Imarticus'

In [25]:
df_ins = pd.read_csv("datasets/dataframe operations/insurance_data_with_day.csv")

In [26]:
df_ins.head()

,patientid,dayofmonth,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
0,1,19,39,male,23.2,91,Yes,0,No,southeast,1121.87
1,2,8,24,male,30.1,87,No,0,No,southeast,1131.51
2,3,11,27,male,33.3,82,Yes,0,No,southeast,1135.94
3,4,5,37,male,33.7,80,No,0,No,northwest,1136.40
4,5,21,30,male,34.1,100,No,0,No,northwest,1137.01

In [27]:
df_ins.gender.value_counts()

male      678
female    662
Name: gender, dtype: int64

In [28]:
gendergroup = df_ins.groupby(['gender'])
print(type(gendergroup))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [29]:
for name, grp in gendergroup:
    print(name)
    print(grp.head())

female
    patientid  dayofmonth  age  gender   bmi  bloodpressure diabetic  \
24         25          18   50  female  20.8             85      Yes
26         27          26   36  female  26.7             97      Yes
28         29          21   58  female  31.1             87       No
29         30           8   35  female  31.4             93       No
33         34          17   52  female  36.9             81       No

    children smoker     region    claim
24         0     No  southeast  1607.51
26         0     No  southeast  1615.77
28         0     No  southeast  1621.88
29         0     No  southeast  1622.19
33         0     No  southeast  1629.83
male
   patientid  dayofmonth  age gender   bmi  bloodpressure diabetic  children  \
0          1          19   39   male  23.2             91      Yes         0
1          2           8   24   male  30.1             87       No         0
2          3          11   27   male  33.3             82      Yes         0
3          4           5   37   male  33.7             80       No         0
4          5          21   30   male  34.1            100       No         0

  smoker     region    claim
0     No  southeast  1121.87
1     No  southeast  1131.51
2     No  southeast  1135.94
3     No  northwest  1136.40
4     No  northwest  1137.01

In [30]:
## using get_group to get the dataframes
df_female = gendergroup.get_group('female')
#print(df_female.head())
print(df_ins.shape)
print(df_female.shape)
print(df_ins.gender.value_counts())

(1340, 11)
(662, 11)
male      678
female    662
Name: gender, dtype: int64

In [31]:
## Printing the min of each group
print(gendergroup.min())

        patientid  dayofmonth  age   bmi  bloodpressure diabetic  children  \
gender
female         25           1   25  16.8             80       No         0
male            1           1   18  16.0             80       No         0

       smoker     region    claim
gender
female     No  northeast  1607.51
male       No  northeast  1121.87

In [ ]:
## Printing the average of each group
print(gendergroup.mean())

In [32]:
df_ins.smoker.value_counts()

No     1066
Yes     274
Name: smoker, dtype: int64

In [35]:
df_ins.groupby(['gender','smoker'])['claim'].mean()

gender  smoker
female  No         8762.297367
        Yes       30678.996261
male    No         8061.539383
        Yes       33042.006226
Name: claim, dtype: float64

In [ ]:
df_ins.smoker.value_counts()

In [ ]:
df_ins.groupby(['region'])['claim'].mean()

In [ ]:
df_ins.groupby(['smoker'])['claim'].mean()

In [ ]:
## Grouping using multiple columns 
df_ins.groupby(['region','smoker'])['claim'].mean()

In [ ]:
df_ins.columns

In [41]:
## Aggregating on multiple columns
df_ins.groupby(['region','gender','smoker']).agg({'claim':[min,max, sum,np.mean],'bloodpressure':[min,max]})

                            claim                                      \
                              min       max         sum          mean
region    gender smoker
northeast female No       2755.02  31620.00  1038851.63  12516.284699
                 Yes     14283.46  58571.07   812929.32  28032.045517
          male   No       1694.80  32108.66   874390.77  10794.947778
                 Yes     12829.46  48549.18  1175197.61  30926.252895
northwest female No       2117.34  33471.97  1186244.80   8786.998519
                 Yes     14711.74  55135.40   860453.92  29670.824828
          male   No       1136.40  30284.64  1136177.91   7283.191731
                 Yes     15817.99  60021.40   890682.24  30713.180690
southeast female No       1607.51  36580.28  1406873.30   7483.368617
                 Yes     16577.78  63770.43  1189253.57  33034.821389
          male   No       1121.87  27724.29  1207157.49   7360.716402
                 Yes     17043.34  62592.87  1981641.18  36029.839636
southwest female No       1727.79  36910.61  1161006.93   8234.091702
                 Yes     13844.51  48824.45   665447.76  31687.988571
          male   No       1252.41  27941.29   966212.77   8188.243814
                 Yes     15820.70  52590.83  1206157.96  32598.863784

                        bloodpressure
                                  min  max
region    gender smoker
northeast female No                80  128
                 Yes               80  140
          male   No                80  137
                 Yes               80  140
northwest female No                80  128
                 Yes               80  139
          male   No                80  130
                 Yes               81  137
southeast female No                80  118
                 Yes               83  137
          male   No                80  109
                 Yes               80  140
southwest female No                80  140
                 Yes               81  136
          male   No                80  109
                 Yes               81  140

### Missing value treatment

In [83]:
## Preparing the data to demonstrate various types of joins
df_ins = pd.read_csv('datasets/Dataframe Operations/insurance_data_with_dups.csv')
print(df_ins.info())

## Let us drop the duplicates and keep the first
df_ins.drop_duplicates(keep='first', inplace=True)
print(df_ins.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380 entries, 0 to 1379
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   patientid      1380 non-null   int64
 1   dayofmonth     1380 non-null   int64
 2   age            1380 non-null   object
 3   gender         1380 non-null   object
 4   bmi            1380 non-null   float64
 5   bloodpressure  1380 non-null   int64
 6   diabetic       1380 non-null   object
 7   children       1380 non-null   int64
 8   smoker         1380 non-null   object
 9   region         1380 non-null   object
 10  claim          1380 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 118.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340 entries, 0 to 1339
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   patientid      1340 non-null   int64
 1   dayofmonth     1340 non-null   int64
 2   age            1340 non-null   object
 3   gender         1340 non-null   object
 4   bmi            1340 non-null   float64
 5   bloodpressure  1340 non-null   int64
 6   diabetic       1340 non-null   object
 7   children       1340 non-null   int64
 8   smoker         1340 non-null   object
 9   region         1340 non-null   object
 10  claim          1340 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 125.6+ KB
None

In [84]:
df_ins['age'] = df_ins['age'].replace(' ',np.nan)
df_ins['age'].replace(' ',np.nan, inplace=True)

In [85]:
df_ins.groupby('age')['age'].count()

age
18    16
19    29
20    26
21    18
22    23
23    27
24    16
25    32
26    47
27    42
28    36
29    40
30    45
31    38
32    44
33    35
34    39
35    35
36    36
37    40
38    32
39    23
40    42
41    24
42    37
43    50
44    35
45    40
46    43
47    38
48    39
49    37
50    32
51    17
52    18
53    15
54    17
55    26
56    16
57    21
58    16
59    22
60    21
Name: age, dtype: int64

In [88]:
df_ins.isnull().sum()

patientid        0
dayofmonth       0
age              0
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           0
claim            0
dtype: int64

In [87]:
## To  drop the missing value records use dropna method 
df_ins.dropna(inplace=True)

In [89]:
df_ins.shape

(1325, 11)

In [56]:
df_ins.loc[df_ins.age.isnull(),'age'] = 0
df_ins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340 entries, 0 to 1339
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   patientid      1340 non-null   int64
 1   dayofmonth     1340 non-null   int64
 2   age            1340 non-null   object
 3   gender         1340 non-null   object
 4   bmi            1340 non-null   float64
 5   bloodpressure  1340 non-null   int64
 6   diabetic       1340 non-null   object
 7   children       1340 non-null   int64
 8   smoker         1340 non-null   object
 9   region         1340 non-null   object
 10  claim          1340 non-null   float64
dtypes: float64(2), int64(4), object(5)
memory usage: 125.6+ KB

In [71]:
df_ins[df_ins.age.isnull()]

,patientid,dayofmonth,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
11,12,20,NaN,male,20.3,90,Yes,0,No,northwest,1242.26
26,27,26,NaN,female,26.7,97,Yes,0,No,southeast,1615.77
67,68,30,NaN,female,32.9,99,Yes,0,No,southwest,1748.77
127,128,6,NaN,male,28.9,81,No,0,No,northwest,2250.84
184,185,29,NaN,male,27.9,82,Yes,0,No,southeast,2867.12
235,236,3,NaN,female,27.7,82,No,0,No,southwest,3554.20
332,333,14,NaN,female,28.6,80,No,5,No,southwest,4687.80
452,453,20,NaN,female,30.8,92,Yes,2,No,southeast,6313.76
535,536,26,NaN,female,35.3,100,No,0,No,southwest,7348.14
647,648,11,NaN,male,30.2,95,No,2,No,southwest,8968.33
767,768,18,NaN,female,24.8,89,Yes,1,No,northwest,10942.13
893,894,30,NaN,female,26.5,94,No,0,No,northeast,12815.44
1005,1006,25,NaN,female,21.8,105,No,1,Yes,northeast,16657.72
1139,1140,30,NaN,female,23.2,86,No,0,No,southeast,25081.77
1314,1315,23,NaN,male,33.9,97,No,0,Yes,southeast,46889.26

In [76]:
df_ins['age'].fillna(df_ins['age'].median(),inplace=True)

In [74]:
df_ins['age'] = df_ins['age'].astype(int)

In [75]:
print(df_ins.age.mean(), df_ins.age.median())

38.014925373134325 37.0

In [ ]:
## To print only the columns have missing values
print(df_ins.columns[df_ins.isnull().any()])

## Another way
print(df_ins.columns[df_ins.isnull().sum() > 0])

In [ ]:
df_ins = df_ins.astype({'age':int})
df_ins.info()

In [66]:
## Updating the missing values with average value of the same column
#df_ins['age'].fillna((df_ins['age'].mean()), inplace = True)
df_ins['age'].replace(' ',np.nan, inplace = True)

df_ins.isnull().sum()

df_ins['age'] = df_ins['age'].astype(int)

print(df_ins['age'].dtype)

int32

In [ ]:
df_ins.isnull().sum()

In [ ]:
round(df_ins.age.mean())

In [ ]:
df_ins.loc[df_ins.age.isnull() == True]

In [63]:
## Updating the missing values with average value of the same column
df_ins['age'].fillna(df_ins['age'].median(), inplace = True)
df_ins.isnull().sum()

patientid        0
dayofmonth       0
age              0
gender           0
bmi              0
bloodpressure    0
diabetic         0
children         0
smoker           0
region           0
claim            0
dtype: int64

In [64]:
df_ins.age.median()

37.0

In [ ]:
df_ins.iloc[[11,26]]