In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'F:\\Python Learning\\DataCamp\\EDA'

In [3]:
nsfg = pd.read_hdf('F:\\Python Learning\\Sample_Data\\nsfg.hdf5','nsfg')

In [4]:
type(nsfg)

pandas.core.frame.DataFrame

In [5]:
nsfg.head()

,caseid,outcome,birthwgt_lb1,birthwgt_oz1,prglngth,nbrnaliv,agecon,agepreg,hpagelb,wgt2013_2015
0,60418,1,5.0,4.0,40,1.0,2000,2075.0,22.0,3554.964843
1,60418,1,4.0,12.0,36,1.0,2291,2358.0,25.0,3554.964843
2,60418,1,5.0,4.0,36,1.0,3241,3308.0,52.0,3554.964843
3,60419,6,NaN,NaN,33,NaN,3650,NaN,NaN,2484.535358
4,60420,1,8.0,13.0,41,1.0,2191,2266.0,24.0,2903.782914

In [6]:
nsfg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9358 entries, 0 to 9357
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   caseid        9358 non-null   int64
 1   outcome       9358 non-null   int64
 2   birthwgt_lb1  6485 non-null   float64
 3   birthwgt_oz1  6391 non-null   float64
 4   prglngth      9358 non-null   int64
 5   nbrnaliv      6485 non-null   float64
 6   agecon        9358 non-null   int64
 7   agepreg       9109 non-null   float64
 8   hpagelb       6485 non-null   float64
 9   wgt2013_2015  9358 non-null   float64
dtypes: float64(6), int64(4)
memory usage: 804.2 KB

In [7]:
var = nsfg.isnull().sum()

In [8]:
type(var)

pandas.core.series.Series

In [9]:
var[var > 0]

birthwgt_lb1    2873
birthwgt_oz1    2967
nbrnaliv        2873
agepreg          249
hpagelb         2873
dtype: int64

In [10]:
nsfg.shape

(9358, 10)

In [11]:
nsfg.isnull().sum()[nsfg.isnull().sum() > 0]

birthwgt_lb1    2873
birthwgt_oz1    2967
nbrnaliv        2873
agepreg          249
hpagelb         2873
dtype: int64

In [12]:
nsfg.describe()

,caseid,outcome,birthwgt_lb1,birthwgt_oz1,prglngth,nbrnaliv,agecon,agepreg,hpagelb,wgt2013_2015
count,9358.000000,9358.000000,6485.000000,6391.000000,9358.000000,6485.000000,9358.000000,9109.000000,6485.000000,9358.000000
mean,65502.392605,1.773990,8.055204,7.213895,29.896345,1.018042,2446.330199,2494.934570,28.992136,10759.200147
std,2953.471315,1.348648,11.178893,8.254885,13.685389,0.160433,579.392363,578.099231,10.367124,11400.179222
min,60418.000000,1.000000,0.000000,0.000000,0.000000,1.000000,750.000000,825.000000,5.000000,1859.105000
25%,62875.750000,1.000000,6.000000,3.000000,14.000000,1.000000,1983.000000,2041.000000,23.000000,4340.053407
50%,65499.000000,1.000000,7.000000,6.000000,38.000000,1.000000,2366.000000,2416.000000,27.000000,7062.994158
75%,68111.000000,2.000000,8.000000,11.000000,39.000000,1.000000,2850.000000,2900.000000,33.000000,12629.322982
max,70619.000000,6.000000,99.000000,99.000000,48.000000,8.000000,4350.000000,4350.000000,99.000000,75399.410000

In [13]:
nsfg.birthwgt_lb1.value_counts().sort_index()

0.0        6
1.0       34
2.0       47
3.0       67
4.0      196
5.0      586
6.0     1666
7.0     2146
8.0     1168
9.0      363
10.0      82
11.0      17
12.0       7
13.0       2
14.0       2
17.0       1
98.0       1
99.0      94
Name: birthwgt_lb1, dtype: int64

In [14]:
wrong_birthwgt = nsfg.birthwgt_lb1 > 20

In [15]:
wrong_birthwgt.head()

0    False
1    False
2    False
3    False
4    False
Name: birthwgt_lb1, dtype: bool

In [16]:
import numpy as np

In [17]:
nsfg.loc[wrong_birthwgt,'birthwgt_lb1'] = np.nan

In [18]:
nsfg.birthwgt_lb1.value_counts().sort_index()

0.0        6
1.0       34
2.0       47
3.0       67
4.0      196
5.0      586
6.0     1666
7.0     2146
8.0     1168
9.0      363
10.0      82
11.0      17
12.0       7
13.0       2
14.0       2
17.0       1
Name: birthwgt_lb1, dtype: int64

In [19]:
nsfg.loc[wrong_birthwgt, 'birthwgt_oz1'] = np.nan

In [20]:
nsfg.birthwgt_oz1.value_counts().sort_index()

0.0     757
1.0     297
2.0     429
3.0     393
4.0     386
5.0     407
6.0     543
7.0     346
8.0     518
9.0     377
10.0    295
11.0    418
12.0    388
13.0    275
14.0    258
15.0    268
99.0     35
Name: birthwgt_oz1, dtype: int64

In [21]:
birth_weight = nsfg.birthwgt_lb1 + (nsfg.birthwgt_oz1 / 16)

In [22]:
birth_weight.head()

0    5.2500
1    4.7500
2    5.2500
3       NaN
4    8.8125
dtype: float64

In [23]:
nsfg.birthwgt_lb1.head()

0    5.0
1    4.0
2    5.0
3    NaN
4    8.0
Name: birthwgt_lb1, dtype: float64

In [24]:
preterm = nsfg.prglngth < 37

In [37]:
preterm.head()

0    False
1     True
2     True
3     True
4    False
Name: prglngth, dtype: bool

In [25]:
preterm.sum()

3742

In [26]:
preterm.mean()

0.39987176747168196

In [27]:
avg_preterm_birth_weight = birth_weight[preterm].mean()

In [28]:
birth_weight[~preterm].mean()

7.405266509004912

In [29]:
nsfg['birth_weight'] = birth_weight

In [30]:
nsfg.columns

Index(['caseid', 'outcome', 'birthwgt_lb1', 'birthwgt_oz1', 'prglngth',
       'nbrnaliv', 'agecon', 'agepreg', 'hpagelb', 'wgt2013_2015',
       'birth_weight'],
      dtype='object')

In [31]:
nsfg[birth_weight.isna() & preterm]

,caseid,outcome,birthwgt_lb1,birthwgt_oz1,prglngth,nbrnaliv,agecon,agepreg,hpagelb,wgt2013_2015,birth_weight
3,60419,6,NaN,NaN,33,NaN,3650,NaN,NaN,2484.535358,NaN
5,60420,4,NaN,NaN,3,NaN,3391,3391.0,NaN,2903.782914,NaN
8,60426,4,NaN,NaN,11,NaN,3241,3258.0,NaN,9682.211381,NaN
12,60430,2,NaN,NaN,5,NaN,2600,2608.0,NaN,5877.881888,NaN
13,60434,4,NaN,NaN,19,NaN,1858,1891.0,NaN,2588.500365,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9332,70602,2,NaN,NaN,24,NaN,1750,1791.0,NaN,3036.297857,NaN
9335,70608,4,NaN,NaN,4,NaN,1533,1533.0,NaN,2634.940370,NaN
9346,70612,4,NaN,NaN,8,NaN,3450,3458.0,NaN,4835.247136,NaN
9348,70613,4,NaN,NaN,2,NaN,2708,2708.0,NaN,20665.907733,NaN
9351,70615,4,NaN,NaN,8,NaN,1658,1666.0,NaN,8117.554461,NaN

In [32]:
nsfg.prglngth.value_counts().sort_index()

0        7
1       11
2       50
3      102
4      274
5      128
6      375
7      185
8      299
9      331
10     125
11      82
12     132
13     222
14      39
15      27
16      40
17      85
18      25
19      25
20      21
21       9
22      76
23       7
24      25
25      13
26      58
27      17
28      39
29      25
30      95
31      15
32     118
33      35
34      73
35     239
36     313
37     432
38     755
39    2384
40    1311
41     422
42     231
43      65
44       9
45       3
46       3
48       1
Name: prglngth, dtype: int64

In [33]:
nsfg.groupby(['prglngth'])['birth_weight'].mean()

prglngth
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13    4.000000
14         NaN
15         NaN
16         NaN
17         NaN
18    2.125000
19         NaN
20    0.937500
21         NaN
22    2.026786
23    1.437500
24    2.395833
25    1.468750
26    2.703125
27    3.165179
28    3.949074
29    3.726974
30    4.214286
31    4.519231
32    5.395047
33    5.192130
34    5.837862
35    6.009930
36    6.562710
37    6.840760
38    7.112011
39    7.389628
40    7.534126
41    7.853720
42    7.883929
43    7.671875
44    7.680556
45    8.125000
46    7.937500
48    6.437500
Name: birth_weight, dtype: float64

In [34]:
#nsfg.loc[preterm & birth_weight.isnull(), 'birth_weight'] = birth_weight[preterm].mean()

In [40]:
nsfg.loc[preterm & ~birth_weight.isnull(), 'birth_weight']

1       4.7500
2       5.2500
6       5.0000
7       6.1250
10      6.4375
         ...
9328    4.6250
9337    5.8750
9347    9.5000
9353    4.6875
9355    7.3750
Name: birth_weight, Length: 893, dtype: float64

In [36]:
nsfg.iloc[[3,5,8]]

,caseid,outcome,birthwgt_lb1,birthwgt_oz1,prglngth,nbrnaliv,agecon,agepreg,hpagelb,wgt2013_2015,birth_weight
3,60419,6,NaN,NaN,33,NaN,3650,NaN,NaN,2484.535358,NaN
5,60420,4,NaN,NaN,3,NaN,3391,3391.0,NaN,2903.782914,NaN
8,60426,4,NaN,NaN,11,NaN,3241,3258.0,NaN,9682.211381,NaN