**Question: Get the input from users for square of a side and radius of a circle, create dictionary of lambda functions to find area of square and circle and print the total area.**

In [1]:
import numpy as np

d1 = {'Area_of_Square':lambda x: x ** 2, 'Area_of_Circle':lambda x: (22 / 7)* (x ** 2)}

side_of_squre = float(input("Enter the side of a square: "))
radius_of_circle = float(input("Enter the radius of a circle: "))

Enter the side of a square: 5.5
Enter the radius of a circle: 3.25

In [2]:
print(side_of_squre, radius_of_circle)

5.5 3.25

In [3]:
print(d1)

{'Area_of_Square': <function <lambda> at 0x00000205ECE803A0>, 'Area_of_Circle': <function <lambda> at 0x00000205EE2E9AF0>}

In [9]:
total_area = d1['Area_of_Square'](side_of_squre) + d1['Area_of_Circle'](radius_of_circle)
print("The total area of Square and Circle is {0:0.2f}".format(total_area))

The total area of Square and Circle is 63.45

**Question: Print the Sweet fruits.**

fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )

Expected Output : [DragonFruit, Apples, Blueberries]

In [13]:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )
[t[0] for t in fruits if t[1].lower() == 'sweet']

['DragonFruit', 'Apples', 'Blueberries']

**Question: Find the words with 2nd letters are capital in the given list**

lst = ['LIon','Tiger','CHeetah','Peacock','CHimpunsy']

In [18]:
lst = ['LIon','Tiger','CHeetah','Peacock','CHimpunsy']

[word for word in lst if (word[1].isupper()) ]

['LIon', 'CHeetah', 'CHimpunsy']

A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions)

Formula : wMoon = (wEarth * GMoon) / GEarth

** Weight of people in kg **

WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}

Gravitational force on the Moon: 1.622 m/s2

GMoon = 1.622

Gravitational force on the Earth: 9.81 m/s2

GEarth = 9.81

Output: Weight on Moon: {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [29]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81

dict(zip(WeightOnEarth.keys(), list(map(lambda x: round((x * GMoon) / GEarth,2), WeightOnEarth.values()))))
#list(map(lambda x: WeightOnEarth[x], WeightOnEarth))

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

**Question:: A list containing multiple lists is given. Convert each inner list into sets and find the intersection of all the sets.**

Use reduce function

given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

Output: {8, 3}

In [36]:
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

reduce(lambda a, b: a.intersection(b), map(set, given_sets))

{3, 8}

In [31]:
from functools import reduce
l1 = [10, 20, 30,40,50]
reduce(lambda a, b: a+b, l1)

150

**Question: A list of words is given. Convert the words into uppercase. Use lambda and map functions.**

X=[‘Amy’,’Anand’,’Will’,’Bruce’]

In [38]:
X=['Amy','Anand','Will','Bruce']

list(map(lambda x: x.upper(), X))

['AMY', 'ANAND', 'WILL', 'BRUCE']

In [39]:
[word.upper() for word in X]  ## Using List Comprehension

['AMY', 'ANAND', 'WILL', 'BRUCE']

**Question: Find the cumulative sum of the list [9,8,7,6,5] using accumulate() and lambda function.**

Input list: [9, 5, 7, 8, 5]

In [41]:
from itertools import accumulate
list = [9, 5, 7, 8, 5]

for x in (accumulate(list, lambda a, b: a+b)):
    print(x)

9
14
21
29
34

Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [47]:
str = 'Sh@an~m?u!#*g(am)'
import string
print(string.punctuation)
res=''
for ltr in str:
    if ltr not in string.punctuation:
        res += ltr
print(res)

res=''
for ltr in str:
    if ltr.isalpha():
        res += ltr
print(res)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
Shanmugam
Shanmugam